<div id="note" class="tab-pane btn-toolbar fade centered">
    <div class="btn-group" role="group">
        <a id="c" class="btn btn-default med-size">C</a>
        <a id="d" class="btn btn-default med-size">D</a>
        <a id="e" class="btn btn-default med-size">E</a>
        <a id="f" class="btn btn-default med-size">F</a>
        <a id="g" class="btn btn-default med-size">G</a>
        <a id="a" class="btn btn-default med-size">A</a>
        <a id="b" class="btn btn-default med-size">B</a>
    </div>
</div>
