<div id="octave" class="tab-pane fade centered">
    <div class="btn-group" role="group">
        <a id="1" class="btn btn-default med-size">1</a>
        <a id="2" class="btn btn-default med-size">2</a>
        <a id="3" class="btn btn-default med-size">3</a>
        <a id="4" class="btn btn-default med-size">4</a>
    </div>
    <div class="hidden" id="sheet-functions">
        <ul class="list-unstyled">
            <li>
                <a id="addToSheet" class="btn btn-link">Add to sheet</a>
            </li>
            <li>
                <a id="addToChord" class="btn btn-link">Add to chord</a>
            </li>
            <li id="liFinishChord" class="hidden">
                <a id="finishChord" class="btn btn-link">Add to chord and finish</a>
            </li>
        </ul>
        <div class="col-small float-padding-right" id="atIndex">
            at index
            <input type="text" id="updateIndex" class="txt-small" />
        </div>
    </div>
</div>


