<div id="time" class="tab-pane btn-toolbar fade active in centered">
    <div class="btn-group" role="group">
        <a class="btn btn-default med-size" id="timeFullNote">
            <img id="timeFullNote" width="10" height="10" src="~/Resources/Images/notes-tab/cqla-nota.png" alt="full-note" />
        </a>
        <a class="btn btn-default med-size" id="timeHalfNote">
            <img id="timeHalfNote" src="~/Resources/Images/notes-tab/polovina-nota.png" alt="half-note" />
        </a>
        <a class="btn btn-default med-size" id="timeFourthNote">
            <img id="timeFourthNote" src="~/Resources/Images/notes-tab/chetvyrtina-nota.png" alt="fourth-note" />
        </a>
        <a class="btn btn-default med-size" id="timeEightNote">
            <img id="timeEightNote" src="~/Resources/Images/notes-tab/osmina.png" alt="eight-note" />
        </a>
        <a class="btn btn-default med-size" id="timeSixteenthNote">
            <img id="timeSixteenthNote" src="~/Resources/Images/notes-tab/shestnadesetina.png" alt="sixteenth-note" />
        </a>
        <a class="btn btn-default med-size" id="timeThirtysecondNote">
            <img id="timeThirtysecondNote" src="~/Resources/Images/notes-tab/tridesetivtorina.png" alt="thirtysecond-note" />
        </a>
        <br />
        <a class="btn btn-default med-size" id="timeFullNoteDot">
            <img id="timeFullNoteDot" width="10" height="10" src="~/Resources/Images/notes-tab/cqla-nota.png" alt="full-note-dot" />
            <span>.</span>
        </a>
        <a class="btn btn-default med-size" id="timeHalfNoteDot">
            <img id="timeHalfNoteDot" src="~/Resources/Images/notes-tab/polovina-nota.png" alt="half-note-dot" />
            <span class="align-bottom">.</span>
        </a>
        <a class="btn btn-default med-size" id="timeFourthNoteDot">
            <img id="timeFourthNoteDot" src="~/Resources/Images/notes-tab/chetvyrtina-nota.png" alt="fourth-note-dot" />
            <span class="align-bottom">.</span>
        </a>
        <a class="btn btn-default med-size" id="timeEightNoteDot">
            <img id="timeEightNoteDot" src="~/Resources/Images/notes-tab/osmina.png" alt="eight-note-dot" />
            <span class="align-bottom">.</span>
        </a>
        <a class="btn btn-default med-size" id="timeSixteenthNoteDot">
            <img id="timeSixteenthNoteDot" src="~/Resources/Images/notes-tab/shestnadesetina.png" alt="sixteenth-note-dot" />
            <span class="align-bottom">.</span>
        </a>
        <a class="btn btn-default med-size" id="timeThirtysecondNoteDot">
            <img id="timeThirtysecondNoteDot" src="~/Resources/Images/notes-tab/tridesetivtorina.png" alt="thirtysecond-note-dot" />
            <span class="align-bottom">.</span>
        </a>
    </div>
</div>
