<div id="others" class="tab-pane fade">
    <div class="btn-toolbar breaks-add">
        <span class="label label-primary">Breaks:</span>
        <div class="btn-group" role="group">
            <a class="btn btn-default med-size" id="optBreakOne">
                <img class="others-tab-images" id="optBreakOne" src="~/Resources/Images/one.jpg" alt="one" />
            </a>
            <a class="btn btn-default med-size" id="optBreakHalf">
                <img class="others-tab-images" id="optBreakHalf" height="40" width="40" src="~/Resources/Images/1.2.jpg" alt="half" />
            </a>
            <a class="btn btn-default med-size" id="optBreakFourth">
                <img class="others-tab-images" id="optBreakFourth" height="40" width="40" src="~/Resources/Images/1.4.jpg" alt="fourth" />
            </a>
            <a class="btn btn-default med-size" id="optBreakEight">
                <img class="others-tab-images" id="optBreakEight" height="40" width="40" src="~/Resources/Images/1-8.jpg" alt="eight" />
            </a>
            <a class="btn btn-default med-size" id="optBreakSixteenth">
                <img class="others-tab-images" id="optBreakSixteenth" height="40" width="40" src="~/Resources/Images/1-16.jpg" alt="sixteenth" />
            </a>
            <a class="btn btn-default med-size" id="optBreakThirtysecond">
                <img class="others-tab-images" id="optBreakThirtysecond" height="40" width="40" src="~/Resources/Images/1-32.jpg" alt="thirtysecond" />
            </a>
        </div>
    </div>
    <span class="label label-primary">Others:</span>
    <div class="btn-toolbar repeat-add">
        <div class="btn-group" role="group">
            <a class="btn btn-default med-size" id="optRepeatBegin">
                <img class="others-tab-images" id="optRepeatBegin" height="40" width="40" src="~/Resources/Images/repeat_begin.png" alt="one" />
            </a>
            <a class="btn btn-default med-size" id="optRepeatEnd">
                <img class="others-tab-images" id="optRepeatEnd" height="40" width="40" src="~/Resources/Images/repeat_end.png" alt="half" />
            </a>
            <a class="btn btn-default med-size" id="optLine">
                <img class="others-tab-images" id="optLine" height="40" width="40" src="~/Resources/Images/Line.png" alt="fourth" />
            </a>
        </div>
    </div>
    <div class="row others-add">
        <div class="col-small">
            <div class="float-left label-div">
                <span class="label label-primary">Line: </span>
            </div>
            <a id="addLine" href="#">Add new</a>
        </div>
    </div>
    <div class="row">
        <div class="col-small">
            <div class="float-left label-div">
                <span class="label label-primary">Delete: </span>
            </div>
            <span class="align-bottom">
                <a id="deleteElement" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </span>
        </div>
        <div class="col-small float-padding-right">
            at index
            <input type="text" id="deleteAddIndex" class="txt-small" />
        </div>
    </div>
</div>
